
.timer{
  width: 800px;
  height: 300px;
  background: #24282B;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
}

.hours-text{
  color: #3E85F1;
  text-transform: uppercase;
}

.minutes-text{
  color: #97D978;
  text-transform: uppercase;
}

.seconds-text{
  color: #FFDB4D;
  text-transform: uppercase;
}

.time-left{
  color: white;
  font-size: 60px;
}

.svg-wrapper{
  position: relative;
}

.panel-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
}

.panel{
  margin-right: 20px;
}

.control-panel{
  display: flex;
  justify-content: space-between;
  width: 173px;
  margin-top: 9px;
}

.control-button{
  background: #24282B;
  width: 80px;
  border: none;
  color: white;
  height: 21px;
}

svg .value{
  transform: rotate(-90deg);
  transform-origin: center center;
}

svg circle {
  transition: stroke-dashoffset 1s linear;
  stroke: #1E1F23;
  stroke-width: 1em;
}
svg #hours {
  stroke: #3E85F1;
}
svg #minutes{
  stroke: #97D978;
}
svg #seconds{
  stroke: #FFDB4D;
}
